<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echostream.orangebot.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.echostream.orangebot.entity.User">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="is_bot" jdbcType="BOOLEAN" property="isBot" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="language_code" jdbcType="VARCHAR" property="languageCode" />
    <result column="sys_create_time" jdbcType="TIMESTAMP" property="sysCreateTime" />
    <result column="sys_update_time" jdbcType="TIMESTAMP" property="sysUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, is_bot, first_name, last_name, username, language_code, sys_create_time, 
    sys_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from User
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from User
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.echostream.orangebot.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into User (user_id, is_bot, first_name, 
      last_name, username, language_code, 
      sys_create_time, sys_update_time)
    values (#{userId,jdbcType=CHAR}, #{isBot,jdbcType=BOOLEAN}, #{firstName,jdbcType=VARCHAR}, 
      #{lastName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{languageCode,jdbcType=VARCHAR}, 
      #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.echostream.orangebot.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into User
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="isBot != null">
        is_bot,
      </if>
      <if test="firstName != null">
        first_name,
      </if>
      <if test="lastName != null">
        last_name,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="languageCode != null">
        language_code,
      </if>
      <if test="sysCreateTime != null">
        sys_create_time,
      </if>
      <if test="sysUpdateTime != null">
        sys_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="isBot != null">
        #{isBot,jdbcType=BOOLEAN},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="languageCode != null">
        #{languageCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.echostream.orangebot.entity.User">
    <!--@mbg.generated-->
    update User
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="isBot != null">
        is_bot = #{isBot,jdbcType=BOOLEAN},
      </if>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="languageCode != null">
        language_code = #{languageCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null">
        sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.echostream.orangebot.entity.User">
    <!--@mbg.generated-->
    update User
    set user_id = #{userId,jdbcType=CHAR},
      is_bot = #{isBot,jdbcType=BOOLEAN},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      language_code = #{languageCode,jdbcType=VARCHAR},
      sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
      sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.echostream.orangebot.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into User
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      user_id,
      is_bot,
      first_name,
      last_name,
      username,
      language_code,
      sys_create_time,
      sys_update_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{userId,jdbcType=CHAR},
      #{isBot,jdbcType=BOOLEAN},
      #{firstName,jdbcType=VARCHAR},
      #{lastName,jdbcType=VARCHAR},
      #{username,jdbcType=VARCHAR},
      #{languageCode,jdbcType=VARCHAR},
      #{sysCreateTime,jdbcType=TIMESTAMP},
      #{sysUpdateTime,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      user_id = #{userId,jdbcType=CHAR},
      is_bot = #{isBot,jdbcType=BOOLEAN},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      language_code = #{languageCode,jdbcType=VARCHAR},
      sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
      sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.echostream.orangebot.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into User
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="isBot != null">
        is_bot,
      </if>
      <if test="firstName != null">
        first_name,
      </if>
      <if test="lastName != null">
        last_name,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="languageCode != null">
        language_code,
      </if>
      <if test="sysCreateTime != null">
        sys_create_time,
      </if>
      <if test="sysUpdateTime != null">
        sys_update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="isBot != null">
        #{isBot,jdbcType=BOOLEAN},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="languageCode != null">
        #{languageCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="isBot != null">
        is_bot = #{isBot,jdbcType=BOOLEAN},
      </if>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="languageCode != null">
        language_code = #{languageCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCreateTime != null">
        sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null">
        sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>